{% extends 'base.html' %}
{% block content %}
  {{ block.super }}
  <h2>Convert <tt>.wav</tt> Files to Mozzi <tt>.h</tt> Files</h2>
  <form method="post" action="/" enctype="multipart/form-data">
    {% csrf_token %}
 {{ form.as_p }}
 <p>
   <button type="submit" class="btn btn-primary">Submit</button>
   <button type="reset" class="btn btn-secondary">Reset</button>
 </p>
 </form>
 <script>
 function suggestValues() {
   const infile = document.getElementById('id_infile');
   const infilename = infile.files[0].name;
   const basename = infilename.replace(/\.[^/.]+$/, '').replace(/[^a-z0-9+]+/i, '_');
   document.getElementById('id_outfile').value = `${basename}.h`;
   document.getElementById('id_tablename').value = basename.toUpperCase();
 }
 
 </script>
{% endblock content%}
